<launch>
    <arg name="namespace" default="$(env UAV_NAMESPACE)"/>

    <arg name="camera_info" default="/camera/color/camera_info"/>
<!--     <arg name="camera_info" default="/zedm/zed_node/left/camera_info"/>
 -->

    <!-- Figure estimator-->
    <node name="figure_estimator" pkg="uav_ros_control" type="figure8estimator.py" 
        output="screen" ns="$(arg namespace)">
        <remap from="/zedm/zed_node/left/camera_info" to="$(arg camera_info)"/>

    </node>


</launch>