<launch>
    <arg name="namespace" default="$(env UAV_NAMESPACE)"/>
    <arg name="odom" default="mavros/global_position/local"/>

    <node name="generate_search" pkg="uav_ros_control" type="generate_search.py" output="screen" ns="$(arg namespace)" >
        <remap from="odom" to="$(arg odom)"/>
    </node>

    <node name="generate_interception" pkg="uav_ros_control" type="generate_interception.py" output="screen" ns="$(arg namespace)" >
        <remap from="odom" to="$(arg odom)"/>
    </node>


</launch>