<launch>
    <arg name="namespace"   default="$(env UAV_NAMESPACE)"/>
    <arg name="carrot_out"     default="carrot/trajectory"/>
    <arg name="pid_in"          default="carrot_geofenced/trajectory"/>
    <arg name="odometry"            default="mavros/global_position/local"/>
    <arg name="msf_callback_enable"     default="false"/>
    <arg name="ch_num"    default="1"/>

    <!-- PID Carrot stack -->
    <include file="$(find uav_ros_control)/launch/pid_carrot.launch">
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="carrot_out" value="$(arg carrot_out)"/>
        <arg name="pid_in" value="$(arg pid_in)"/>
        <arg name="odometry" value="$(arg odometry)"/>
        <arg name="msf_callback_enable" value="true"/>
    </include>

    <param name="$(arg namespace)/gps_constraints_filename" value="$(find uav_ros_control)/config/reference/ch$(arg ch_num)_gps_constraints.yaml"/>
    <node name="geo_fence" pkg="uav_ros_control" type="geo_fence_node" output="screen" ns="$(arg namespace)">
        <remap from="geofence_in" to="$(arg carrot_out)"/>
        <remap from="geofence_out" to="$(arg pid_in)"/>
    </node>
</launch>
